<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img src="https://i.etsystatic.com/10919371/r/il/cfce22/1661027104/il_794xN.1661027104_mq25.jpg" alt="Logo" class="img-fluid" style="width: 100px;">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="coktails">Cocktails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="admin">Admin</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Busca en Google" aria-label="Search" #buscar> 
            <button class="btn btn-outline-success" type="submit" (click)="llamaGoogle(buscar.value)">Search</button>
        </form>
      </div>
    </div>
  </nav>
