

<div class="container text-center p-5">
    <div class="row">
        <div class="col-12">
            <h2>INTRODUCE NUEVOS PLATOS</h2>
        </div>
    </div>
</div>
<div class="container text-center p-5">
    <div class="row">
      <div class="col">
        <input class="form-control me-2" type="search" placeholder="Nombre" aria-label="Search" #buscar> 
      </div>
      <div class="col">
        <input class="form-control me-2" type="search" placeholder="Ingredientes" aria-label="Search" #buscar> 
      </div>
      <div class="col">
        <input class="form-control me-2" type="search" placeholder="Precio" aria-label="Search" #buscar> 
      </div>
    </div>
</div>

<div class="container text-center p-5">
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-success">Añadir</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>



